<!DOCTYPE html>

<html lang="en">

    <head>

        {# Site Title #}
        <title>Talent Cloud: Job Summary</title>
        
        {# Charset #}
        <meta charset="utf-8" />

        {# Compatibility #}
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        {# Viewport #}
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        {# Generic Google Fonts #}
        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        {# Material Icons #}
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        {# Your CSS #}
        <link 
            async 
            href="$ROOT/css/app.css"
            rel="stylesheet">

        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">

    </head>

    {# Playground's Body #}
    <body data-clone>

        <div data-c-overlay="black(90)" data-c-padding="tb(triple)" style="background-image: url('https://images.unsplash.com/photo-1556742400-b5b7c5121f99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');">
            <div data-c-container="large" data-c-align="base(center) tl(left)">
                <h1 data-c-font-size="h1" data-c-color="white"><span data-c-margin="right(normal)">CS1 - Junior Front-end Developer</span><span data-c-tag="c1" data-c-font-size="small" data-c-radius="pill" data-c-margin="right(normal)">In Review</span><a href="#activity" title="View new acitivity on this job action." data-c-tag="stop" data-c-font-size="small" data-c-radius="pill">New Activity (2)</a></h1>
                <div data-c-color="white" data-c-margin="top(double)">
                    <nav
                        aria-label="breadcrumb"
                        data-c-breadcrumbs>
                        <ol>
                            <li>
                                <a
                                    href="#link-to-page"
                                    title="This is the title of the page link.">
                                    Talent Cloud
                                </a>
                                <i class="material-icons">arrow_right</i>
                            </li>
                            <li>
                                <a
                                    href="#link-to-page"
                                    title="This is the title of the page link.">
                                    My Jobs
                                </a>
                                <i class="material-icons">arrow_right</i>
                            </li>
                            <li>
                                <span aria-current="page">CS1 - Junior Front-end Developer</span>
                                <i class="material-icons">arrow_right</i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div data-c-background="gray(10)">

            <div data-c-container="large" data-c-padding="bottom(3)">
                <div data-c-grid="gutter(all, 2)">
                    <div data-c-grid-item="tl(1of4) ds(1of5)" class="sidebar-wrapper">
                        <div class="sidebar" data-c-padding="tb(triple)">
                            <span data-c-font-weight="bold" data-c-font-size="h4">On This Page:</span>
                            <nav data-c-margin="top(normal)">
                                <ul>
                                    <li><a href="#summary" title="">Job Status</a></li>
                                    <li><a href="#tools" title="">Poster &amp; Screening Tools</a></li>
                                    <li><a href="#activity" title="">Activity (2)</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div data-c-grid-item="tl(3of4) ds(4of5)">

                        {# Summary #}
                        <h2 id="summary" data-c-font-size="h2" data-c-padding="top(3) bottom(1)">Job Status</h2>
                        <p data-c-margin="bottom(1)">
                            <span class="tc-timer" data-c-font-weight="600"><i class="material-icons">pause_circle_filled</i>Time with Manager: 2 Days</span>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="tc-timer active" data-c-font-weight="600"><i class="material-icons">access_time</i>Time with You: 3 Days</span>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <span class="tc-timer" data-c-font-weight="600"><i class="material-icons">pause_circle_filled</i>Time with Talent Cloud: N/A</span>
                        </p>
                        <div class="summary" data-c-grid="gutter(all, 1)">
                            <div data-c-grid-item="tl(2of3)">
                                <div data-c-card data-c-background="white(100)" data-c-padding="all(1)" data-c-radius="rounded" data-c-margin="bottom(1)">
                                    <p data-c-margin="bottom(.25)"><span data-c-font-weight="600" data-c-color="c2">Current Status:</span> In Review</p>
                                    <p data-c-margin="bottom(.5)">This job action is currently in the review process. This means that the poster is being edited and discussed by the manager and HR advisers to get it to a point where it can be published. When it's ready, the next step is translation.</p>
                                    {# Note: managers see HR advisers, HR advisers see managers AND HR advisers. #}
                                    <p data-c-margin="bottom(.5)"><span data-c-font-weight="600" data-c-color="c2">Hiring Manager:</span> First Last</p>
                                    <p><span data-c-font-weight="600" data-c-color="c2">Applicants:</span> N/A</p>
                                </div>
                                <div data-c-accordion-group>
                                    <div
                                        data-c-accordion
                                        data-c-background="white(100)"
                                        data-c-card
                                        data-c-radius="rounded">
                                        <button
                                            aria-expanded="false"
                                            data-c-accordion-trigger
                                            tabindex="0"
                                            type="button">
                                            <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                                                <p data-c-heading="h4" data-c-font-weight="bold">
                                                    Other Details
                                                </p>
                                                <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                                                    View information like Priority Clearance #, HR Advisers, etc.
                                                </p>
                                            </div>
                                            <span data-c-visibility="invisible">
                                                Click to view...
                                            </span>
                                            <i
                                                aria-hidden="true"
                                                class="material-icons"
                                                data-c-accordion-add
                                                data-c-colour="black">
                                                add_circle
                                            </i>
                                            <i
                                                aria-hidden="true"
                                                class="material-icons"
                                                data-c-accordion-remove
                                                data-c-colour="black">
                                                remove_circle
                                            </i>
                                        </button>
                                        <div
                                            aria-hidden="true"
                                            data-c-accordion-content
                                            data-c-padding="right(normal) left(normal)">
                                            <div data-c-padding="bottom(normal)">
                                                <p><span data-c-color="c2" data-c-font-weight="600">HR Managers:</span> You, Steven Sherman</p>
                                                <p data-c-margin="top(.5)"><span data-c-color="c2" data-c-font-weight="600">PSC Process #:</span> 12345</p>
                                                <p><span data-c-color="c2" data-c-font-weight="600">Priority Clearance #:</span> 12345</p>
                                                <p data-c-margin="top(.5)"><span data-c-color="c2" data-c-font-weight="600">Date Created:</span> YYYY-MON-DD</p>
                                                <p><span data-c-color="c2" data-c-font-weight="600">Date Published:</span> YYYY-MON-DD</p>
                                                <p><span data-c-color="c2" data-c-font-weight="600">Date Closed:</span> YYYY-MON-DD</p>
                                                <p data-c-margin="top(.5)"><span data-c-color="c2" data-c-font-weight="600">Post-closed State:</span> N/A</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-c-grid-item="tl(1of3)" data-c-align="base(center)">
                                <div data-c-card data-c-background="white(100)" data-c-padding="all(1)" data-c-radius="rounded" data-c-margin="bottom(1)">
                                    <button data-c-button="solid(c1)" data-c-radius="rounded">Send to Manager</button>
                                </div>
                                <div data-c-card data-c-background="white(100)" data-c-padding="all(1)" data-c-radius="rounded">
                                    {# Note: only HR Advisers see the "send for translation" button. #}
                                    <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-margin="bottom(1)">Send for Translation</button>
                                    <button data-c-button="solid(go)" data-c-radius="rounded">Approve for Publishing</button>
                                </div>
                                {# Note: only HR Advisers see this. #}
                                <div data-c-card data-c-background="white(100)" data-c-padding="all(1)" data-c-radius="rounded" data-c-margin="top(1)">
                                    <button data-c-button="outline(stop)" data-c-radius="rounded">Relinquish</button>
                                </div>
                            </div>
                        </div>

                        {# Tools #}
                        <h2 id="tools" data-c-font-size="h2" data-c-padding="top(3) bottom(1)">Poster &amp; Screening Tools</h2>
                        <div data-c-grid="gutter(all, 1)">
                            <div data-c-grid-item="tp(1of2) tl(1of4)">
                                <a class="tc-summary-action" href="" title="" data-c-card data-c-background="white(100)" data-c-radius="rounded">
                                    <div data-c-padding="tb(2) rl(1)" data-c-align="base(center)">
                                        {% include "icons/cogs.svg" with {"color": "c2"} %}
                                    </div>
                                    <div data-c-background="c2(100)" data-c-padding="tb(.5) rl(1)" data-c-align="base(center)">
                                        <span data-c-color="white" data-c-font-style="underline">Edit Poster</span>
                                    </div>
                                </a>
                            </div>
                            <div data-c-grid-item="tp(1of2) tl(1of4)">
                                <a class="tc-summary-action" href="" title="" data-c-card data-c-background="white(100)" data-c-radius="rounded">
                                    <div data-c-padding="tb(2) rl(1)" data-c-align="base(center)">
                                        {% include "icons/cogs.svg" with {"color": "c2"} %}
                                    </div>
                                    <div data-c-background="c2(100)" data-c-padding="tb(.5) rl(1)" data-c-align="base(center)">
                                        <span data-c-color="white" data-c-font-style="underline">View Live Poster</span>
                                    </div>
                                </a>
                            </div>
                            <div data-c-grid-item="tp(1of2) tl(1of4)">
                                <a class="tc-summary-action" href="" title="" data-c-card data-c-background="white(100)" data-c-radius="rounded">
                                    <div data-c-padding="tb(2) rl(1)" data-c-align="base(center)">
                                        {% include "icons/cogs.svg" with {"color": "c2"} %}
                                    </div>
                                    <div data-c-background="c2(100)" data-c-padding="tb(.5) rl(1)" data-c-align="base(center)">
                                        <span data-c-color="white" data-c-font-style="underline">View Screening Plan</span>
                                    </div>
                                </a>
                            </div>
                            <div data-c-grid-item="tp(1of2) tl(1of4)">
                                <a class="tc-summary-action" href="" title="" data-c-card data-c-background="white(100)" data-c-radius="rounded">
                                    <div data-c-padding="tb(2) rl(1)" data-c-align="base(center)">
                                        {% include "icons/cogs.svg" with {"color": "c2"} %}
                                    </div>
                                    <div data-c-background="c2(100)" data-c-padding="tb(.5) rl(1)" data-c-align="base(center)">
                                        <span data-c-color="white" data-c-font-style="underline">View Applicants</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        {# Activity #}
                        <h2 id="activity" data-c-font-size="h2" data-c-padding="top(3) bottom(1)">Job Activity Feed</h2>
                        <div data-c-grid="gutter(all, 1)">
                            <div data-c-grid-item="base(1of1)">
                                <form data-c-grid="gutter(all, 1)">
                                    {# Note: Managers only get a text input, no dropdown. They essentially leave a generic comment as opposed to one that's classified. #}
                                    <div data-c-input="text" data-c-grid-item="tl(2of3)">
                                        <label for="TI2">Add a Comment</label>
                                        <span>Required</span>
                                        <div>
                                            <input id="TI2" placeholder="e.g. Enter your question, recommendation, etc." required type="text" />
                                        </div>
                                        <span>This input has an error.</span>
                                    </div>
                                    <div data-c-input="select" data-c-grid-item="tl(1of3)">
                                        <label for="SEL2">Type of Comment</label>
                                        <span>Required</span>
                                        <div>
                                            <i class="material-icons">
                                                arrow_drop_down
                                            </i>
                                            <select required id="SEL2">
                                                <option disabled selected>Select an option...</option>
                                                <option>Question</option>
                                                <option>Recommendation</option>
                                                <option>Required Action</option>
                                            </select>
                                        </div>
                                        <span>This input has an error.</span>
                                    </div>
                                    <div data-c-grid-item="base(1of1)" data-c-align="base(center) tl(right)">
                                        {# As per discussion with Chris, we'll want to disable submission of this form using the enter key, unless the user has tabbed to the button and hits enter, or clicks the button manually. This is to prevent accidentally submitting unfinished text. #}
                                        <button data-c-button="solid(c1)" data-c-radius="rounded">
                                            Submit Comment
                                        </button>
                                    </div>
                                </form>
                                <div data-c-padding="top(1)">
                                    <h3 data-c-font-size="h3" data-c-color="stop" data-c-margin="bottom(1)">New Activity (2)</h3>
                                    <p data-c-margin="bottom(1)">Below you'll find any new activity on this job action. You can mark this activity as read by clicking on the card, or by marking them all as read using the button found below the list.</p>
                                    <div class="tc-new-job-activity">
                                        {# Activity Update UI #}
                                        <button class="tc-job-activity" data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="bottom(.5)">
                                            <i class="material-icons" data-c-color="c3">alarm</i>
                                            <span>Example activity copy that emulates a new log.</span>
                                        </button>
                                        {# Comment UI #}
                                        <a class="tc-job-activity-comment" data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="bottom(.5)">
                                            <p data-c-margin="bottom(.5)" data-c-color="gray" data-c-font-size="small">Kelly Plummer (HR) commented today at 5:45PM.</p>
                                            <p data-c-margin="bottom(.5)" data-c-color="black"><span data-c-font-weight="bold">Recommendation:</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quia sequi dignissimos, fugit molestias, quibusdam hic maxime sunt libero, ea deserunt numquam consectetur doloribus tempora sapiente? Corporis perspiciatis dolores deserunt.</p>
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="tp(1of2) ds(2of3)">
                                                    <p data-c-font-size="small" data-c-color="black">Comment Located: Job Poster Builder > Step 3: Tasks</p>
                                                </div>
                                                <div data-c-grid-item="tp(1of2) ds(1of3)" data-c-align="base(center) tp(right)">
                                                    <p data-c-font-size="small" data-c-font-style="underline" data-c-color="c1">View Comment</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <p data-c-margin="top(1)" data-c-align="base(center)">
                                        <button data-c-button="reset" data-c-font-style="underline" data-c-color="c2">
                                            Mark All As Read
                                        </button>
                                    </p>
                                    {# Previous Activity #}
                                    <div data-c-accordion-group data-c-margin="top(2)">
                                        <div
                                            data-c-accordion>
                                            <button
                                                aria-expanded="false"
                                                data-c-accordion-trigger
                                                tabindex="0"
                                                type="button">
                                                <div>
                                                    <h3 data-c-font-size="h3">Previous Activity (1)</h3>
                                                </div>
                                                <span data-c-visibility="invisible">
                                                    Click to view...
                                                </span>
                                                <p data-c-accordion-add data-c-font-style="underline">Show</p>
                                                <p data-c-accordion-remove data-c-font-style="underline">Hide</p>
                                            </button>
                                            <div
                                                aria-hidden="true"
                                                data-c-accordion-content
                                                data-c-padding="top(1)">
                                                <div>
                                                    {# Required Action UI #}
                                                    <a class="tc-job-activity-comment" data-c-card data-c-background="white(100)" data-c-radius="rounded" data-c-padding="all(1)" data-c-margin="bottom(.5)" data-c-border="left(thick, solid, stop)">
                                                        <p data-c-margin="bottom(.5)" data-c-color="gray" data-c-font-size="small">Kelly Plummer (HR) commented today at 12:30PM.</p>
                                                        <p data-c-margin="bottom(.5)" data-c-color="black"><span data-c-font-weight="bold" data-c-color="stop">Required Action:</span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quia sequi dignissimos, fugit molestias, quibusdam hic maxime sunt libero, ea deserunt numquam consectetur doloribus tempora sapiente? Corporis perspiciatis dolores deserunt.</p>
                                                        <div data-c-grid="gutter(all, 1)">
                                                            <div data-c-grid-item="tp(1of2) ds(2of3)">
                                                                <p data-c-font-size="small" data-c-color="black">Comment Located: Screening Plan</p>
                                                            </div>
                                                            <div data-c-grid-item="tp(1of2) ds(1of3)" data-c-align="base(center) tp(right)">
                                                                <p data-c-font-size="small" data-c-font-style="underline" data-c-color="c1">View Comment</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div data-c-background="black(100)" data-c-padding="tb(triple)">
            <div data-c-container="large" data-c-align="base(center)">
                <h1 data-c-font-size="h2" data-c-font-weight="bold" data-c-color="white">FOOTER</h1>
            </div>
        </div>

        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>

        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>

    </body>

</html>
